<div id="<%= dom_id(todo) %>" 
     class="p-15 rounded-md shadow-md min-h-[250px] max-w-[450px] flex flex-col justify-between
       <%= priority_bg_class(todo.priority) %>
       <%= 'opacity-100' if todo.completed %>
       <%= todo.completed ? 'border-2 border-green-300' : (todo.deadline.present? && todo.deadline < Date.today ? 'border-2 border-red-300' : '') %>">

  <div>
    <h3 class="text-lg font-semibold mb-3"><%= todo.name %></h3>



    <div class="mb-2 flex flex-1">
      <strong class="block font-medium text-gray-600">Description:</strong>
      <p class="text-gray-800"><%= todo.description.to_s.html_safe %></p>
    </div>

    <div class="mb-2 flex flex-1">
      <strong class="block font-medium text-gray-600">Completed:</strong>
      <p class="text-gray-800"><%= todo.completed %></p>
    </div>

    <div class="mb-2 flex flex-1">
      <strong class="block font-medium text-gray-600">Deadline:</strong>
      <p class="text-gray-800"><%= todo.deadline.present? ? todo.deadline.strftime('%d %B %Y') : 'Belirtilmedi' %></p>
    </div>

    <div class="mb-2 flex flex-1">
      <strong class="block font-medium text-gray-600">Priority:</strong>
      <p class="text-gray-800"><%= todo.priority %></p>
    </div>

    <div class="mb-2 flex flex-1">
      <strong class="block font-medium text-gray-600">Project:</strong>
      <p class="text-gray-800"><%= link_to todo.project.name, project_path(todo.project), class: "text-blue-600 underline" %></p>
    </div>
  </div>

  <div class="mt-4 flex space-x-2">
    <%= link_to 'Show', todo, class: "px-3 py-1 border border-gray-400 bg-white text-black rounded shadow-sm text-sm hover:bg-gray-100" %>
    <%= link_to 'Edit', edit_todo_path(todo), class: "px-3 py-1 border border-gray-400 bg-white text-black rounded shadow-sm text-sm hover:bg-gray-100" %>
    <%= button_to 'Destroy', todo, method: :delete, class: "px-3 py-1 border border-gray-400 bg-white text-black rounded shadow-sm text-sm hover:bg-gray-100" , data: { turbo_confirm: "Are you sure?" } %>
  </div>


</div>