<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Todo 2" %></title>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  <nav class="bg-white py-4 px-6 shadow-md">
      <% if user_signed_in? %>
      <span class="text-gray-700 font-bold text-purple-400 ">Hadi tüm todoları tamamlayalım!</span>
        <div class="container mx-auto flex justify-center items-center space-x-4">
          <%= link_to "Projects", projects_path, class: "text-blue-500 hover:text-blue-600 text-lg font-medium" %>
          <%= link_to "Todos", todos_path, class: "text-blue-500 hover:text-blue-600 text-lg font-medium" %>
        </div>
      <% else %>
        <div class="container mx-auto flex justify-center items-center space-x-6">
          <%= link_to "Giriş Yap", new_user_session_path, class: "text-blue-600 hover:underline text-lg" %>
          <%= link_to "Kayıt Ol", new_user_registration_path, class: "text-blue-600 hover:underline text-lg" %>
        </div>
      <% end %>
    </nav>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-4xl font-bold mb-6 text-center">Todo List</h1>
    <% if notice %>
     <p style="color: green;"><%= notice %></p>
    <% end %>

    <% if alert %>
     <p style="color: red;"><%= alert %></p>
    <% end %>

      <%= yield %>
    </main>
    </div>
  </body>
</html>