<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-4xl font-bold mb-6 text-center">Todo List</h1>

      <%= yield %>
    </div>




    <% if flash[:notice]%>
     <p class="flash"><%= flash[:notice]%></p>
    <%end%>
    
  </body>
</html>
